body {
    background-color: #b7d7db !important;
}

.jumbotron {
    width: 500px;
    height: 200px;
    text-align: center;
    margin: auto;
    background-color: lightgray !important;
    border: 2px solid darkgray;
    border-radius: 3% !important;
}

.lead {
    text-decoration: underline;
}

.card {
    float: left;
    text-align: center;
    justify-content: center;
    background: rgb(238, 230, 230) !important;
    border-radius: 3% !important;

}

.card-text {
    border: 2px solid black;
}

#card1 {
    margin-right: 20px;
    margin-left: 175px;
}

#card2 {
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn {
    background: rgb(35, 35, 161) !important;
}

